{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% url 'core:stock_on_hand' as role_list_url %}
{% block content %}
    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-md-6 col-12 mb-2 breadcrumb-new">
                    <h3 class="content-header-title mb-0 d-inline-block">Buy Stock</h3>
                    <div class="row breadcrumbs-top d-inline-block">
                    </div>
                </div>
                <div class="content-header-right col-md-12 col-12">
                    <div class="dropdown float-md-right">
                    </div>
                </div>
            </div>
            <div class="content-body">
                {#  @include('partials._messages')#}
                <!-- Basic form layout section start -->
                <section id="horizontal-form-layouts">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">

                                    <a class="heading-elements-toggle"><i
                                            class="la la-ellipsis-v font-medium-3"></i></a>
                                    <div class="heading-elements">
                                    </div>
                                </div>
                                <div class="card-content collpase show">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <form class="form form-horizontal" method="POST"
                                                      enctype="multipart/form-data">
                                                    <h4 class="form-section"><i class="ft-align-left"></i> Buy Stock
                                                    </h4>
                                                    {% csrf_token %}
                                                    {{ form|crispy }}
                                                    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                                                    {{ form.media.js }}
                                                    <div class="form-actions">
                                                        <a href="{{ role_list_url }}" class="btn btn-warning">
                                                            <i class="ft-x"></i> Cancel
                                                        </a>
                                                        <button type="submit" class="btn btn-primary">
                                                            <i class="ft-save"></i> Save
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock %}
