{% extends 'base.html' %}
{% block content %}
    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-md-6 col-12 mb-2 breadcrumb-new">
                    <h3 class="content-header-title mb-0 d-inline-block">All Products </h3>
                    <div class="row breadcrumbs-top d-inline-block">
                    </div>
                </div>

                    <div class="content-header-right col-md-6 col-12">
                        <div class="dropdown float-md-right">
                            <a href="{% url 'core:product-add' %}" class="btn btn-float btn-round btn-primary">Add Product</a>
                        </div>
                    </div>

            </div>
            <div class="content-body">
                <!-- Zero configuration table -->
                <section id="configuration">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                                    <div class="heading-elements">
                                    </div>
                                </div>
                                <div class="card-content collapse show">
                                    <div class="card-body card-dashboard">
                                        <table class="table table-striped table-bordered sourced-data">
                                            <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Unit</th>

                                                <th>Actions</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for product in products %}

                                                <tr>
                                                    <td>{{ product.name }}</td>
                                                    <td>{{ product.unit_of_measure.code }}</td>
                                                    <td>

                                                            <a href="{% url 'core:product-update' product.pk %}" data-toggle="tooltip" data-original-title="Edit" data-placement="top" class="btn btn-outline-primary btn-sm edit-item-btn">
                                                                Edit
                                                            </a>

                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!--/ Zero configuration table -->
            </div>
        </div>
    </div>
{% endblock %}
