{% extends 'base.html' %}
{% block content %}
    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-header row">
                {#                <div class="content-header-left col-md-6 col-12 mb-2 breadcrumb-new">#}
                {#                    <h3 class="content-header-title mb-0 d-inline-block">C</h3>#}
                {#                    <div class="row breadcrumbs-top d-inline-block">#}
                {#                    </div>#}
                {#                </div>#}
            </div>
            <div class="content-body">
                <section>
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                                    <div class="heading-elements">
                                    </div>
                                </div>
                                <div class="card-content collapse show">
                                    <div class="card-body card-dashboard">
                                        <div class="col-12 d-flex align-items-center justify-content-center">
                                            <div class="col-md-4 col-10 p-0">
                                                <div class="card-header bg-transparent border-0">
                                                    <h2 class="error-code text-center mb-2">403</h2>
                                                    <h3 class="text-uppercase text-center">Access Denied/Forbidden!</h3>
                                                    <h5 class="text-center">Contact System Admin</h5>
                                                </div>
                                                <div class="card-content">
                                                    <div class="row py-2">
                                                        <div class="col-12 col-sm-12 col-md-12">
                                                            {#                    <a href="{% url 'core:dashboard' %}" class="btn btn-primary btn-block"><i class="ft-home"></i> Back to Home</a>#}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!--/ Zero configuration table -->
            </div>
        </div>
    </div>
{% endblock %}
