{% extends 'base.html' %}
{% load static %}

{% block page_level_css %}
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.default.css">
    <link rel="stylesheet" href="{% static 'vendors/css/ui-select/select.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins/loaders/loaders.min.css' %}">
{% endblock %}

{% block page_level_js %}
    <script src="{% static 'vendors/js/angularjs/underscore.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'vendors/js/angularjs/angularjs.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'vendors/js/angularjs/angular-sanitize.min.js' %}"></script>
    <script src="{% static 'vendors/js/charts/chart.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'vendors/js/angularjs/angular-chart.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'vendors/js/ui-select/select.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'vendors/js/angularjs/dashboard.js' %}" type="text/javascript"></script>
{% endblock %}


{% block content %}
    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-md-6 col-12 mb-2 breadcrumb-new">
                    <h3 class="content-header-title mb-0 d-inline-block">{{ current_month }}</h3>
                    <div class="row breadcrumbs-top d-inline-block">
                        <div class="breadcrumb-wrapper col-12">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item active">Stats
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
                {#        <div class="content-header-right col-md-6 col-12">#}
                {#          <div class="dropdown float-md-right">#}
                {#            <button class="btn btn-danger dropdown-toggle round btn-glow px-2" id="dropdownBreadcrumbButton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Actions</button>#}
                {#            <div class="dropdown-menu" aria-labelledby="dropdownBreadcrumbButton"><a class="dropdown-item" href="#"><i class="la la-calendar-check-o"></i> Calender</a>#}
                {#              <a class="dropdown-item" href="#"><i class="la la-cart-plus"></i> Cart</a>#}
                {#              <a class="dropdown-item" href="#"><i class="la la-life-ring"></i> Support</a>#}
                {#              <div class="dropdown-divider"></div><a class="dropdown-item" href="#"><i class="la la-cog"></i> Settings</a>#}
                {#            </div>#}
                {#          </div>#}
                {#        </div>#}
            </div>
            <div class="content-body">

                <div class="row">
                    <div class="col-xl-3 col-lg-6 col-12">
                        <div class="card pull-up">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="media d-flex">
                                        <div class="media-body text-left">
                                            <h3 class="info">{{ total_sales }} TZS</h3>
                                            <h6>Total Sales</h6>
                                        </div>
                                        <div>
                                            <i class="icon-diamond info font-large-2 float-right"></i>
                                        </div>
                                    </div>
                                    <div class="progress progress-sm mt-1 mb-0 box-shadow-2">
                                        <div class="progress-bar bg-gradient-x-info" role="progressbar"
                                             style="width: 100%" aria-valuenow="80" aria-valuemin="0"
                                             aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-12">
                        <div class="card pull-up">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="media d-flex">
                                        <div class="media-body text-left">
                                            <h3 class="warning">{{ total_expenses }} TZS</h3>
                                            <h6>Total Expenses</h6>
                                        </div>
                                        <div>
                                            <i class="icon-credit-card warning font-large-2 float-right"></i>
                                        </div>
                                    </div>
                                    <div class="progress progress-sm mt-1 mb-0 box-shadow-2">
                                        <div class="progress-bar bg-gradient-x-warning" role="progressbar"
                                             style="width: 100%" aria-valuenow="65" aria-valuemin="0"
                                             aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-12">
                        <div class="card pull-up">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="media d-flex">
                                        <div class="media-body text-left">
                                            <h3 class="{% if total_profit > 0 %}success{% endif %} {% if total_profit <= 0 %}danger{% endif %}">{{ total_profit }} TZS</h3>
                                            <h6>Total Profit</h6>
                                        </div>
                                        <div>
                                            <i class="icon-energy {% if total_profit > 0 %}success{% endif %} {% if total_profit <= 0 %}danger{% endif %} font-large-2 float-right"></i>
                                        </div>
                                    </div>
                                    <div class="progress progress-sm mt-1 mb-0 box-shadow-2">
                                        <div class="progress-bar {% if total_profit > 0 %}bg-gradient-x-success{% endif %} {% if total_profit <= 0 %}bg-gradient-x-danger{% endif %}" role="progressbar"
                                             style="width: 100%" aria-valuenow="75" aria-valuemin="0"
                                             aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-12">
                        <div class="card pull-up">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="media d-flex">
                                        <div class="media-body text-left">
                                            <h3 class="danger">{{ total_sold }}</h3>
                                            <h6>Quantity Sold</h6>
                                        </div>
                                        <div>
                                            <i class="icon-basket-loaded danger font-large-2 float-right"></i>
                                        </div>
                                    </div>
                                    <div class="progress progress-sm mt-1 mb-0 box-shadow-2">
                                        <div class="progress-bar bg-gradient-x-danger" role="progressbar"
                                             style="width: 100%" aria-valuenow="85" aria-valuemin="0"
                                             aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row match-height">
                    <div class="col-12 col-xl-6">
                        <div class="card" style="height: 364.891px;">
                            <div class="card-header">
                                <h4 class="card-title">Sells</h4>
                                <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                                {#                <div class="heading-elements">#}
                                {#                  <p class="text-muted">Total BTC available: 6542.56585</p>#}
                                {#                </div>#}
                            </div>
                            <div class="card-content">
                                <div class="table-responsive">
                                    <table class="table table-de mb-0">
                                        <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Quantity Sold</th>
                                            <th>Total Sales</th>
                                        </tr>
                                        </thead>
                                        <tbody>


                                        {% for sale in top_ten_sales %}
                                            <tr>
                                                <td>{{ sale.product_name }}</td>
                                                <td><i class="cc BTC-alt"></i> {{ sale.quantity }}</td>
                                                <td>{{ sale.sale }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-xl-6">
                        <div class="card" style="height: 364.891px;">
                            <div class="card-header">
                                <h4 class="card-title">Expenses</h4>
                                <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                                {#                                <div class="heading-elements">#}
                                {#                                    <p class="text-muted">Total USD available: 9065930.43</p>#}
                                {#                                </div>#}
                            </div>
                            <div class="card-content">
                                <div class="table-responsive">
                                    <table class="table table-de mb-0">
                                        <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Detail</th>
                                            <th>Amount</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        {% for expense in top_ten_expenses %}
                                            <tr class="bg-lighten-5">
                                                <td>{{ expense.created_at }}</td>
                                                <td><i class="cc BTC-alt"></i> {{ expense.name }}</td>
                                                <td>{{ expense.amount }}</td>
                                            </tr>
                                        {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
{% endblock %}
